@import '../../utils/styles';

.header {
    //@include shade(0, 4, 8);
    background: $color-primary;
    height: $header-height;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: $z-index-header;

    transition: $animation-duration;

    // on big screens, adjust the left to $sidebar-width when nav is open
    // or transition left and pad right, whatever is more performant

    .app__wrapper--nav-visible & {
        @media (min-width: #{$med-large-breakpoint}) {
            padding-left: $sidebar-width;
        }
    }
}

.header__title {
    color: $white;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: $header-height;
    text-align: center;
    text-transform: uppercase;
    //width: calc(100% - #{$hamburger-width * 2});
    width: 100%;
}
