@import '../../utils/styles';

.header {
    background: $color-primary;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    height: $header-height;
}

.header__title {
    color: $white;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: $header-height;
    text-align: center;
    text-transform: uppercase;
    width: calc(100% - #{$hamburger-width * 2});
}
