@import '../../utils/styles';

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    transition: $animation-duration;
    //border-bottom: 2px solid $body-color;
    background: $header-color;
    z-index: $z-index-header;

    .app__wrapper--nav-visible & {
        @include for-size($large-up) {
            padding-left: $sidebar-width;
        }
    }
}

.header__title {
    display: inline-block;
    width: 100%;
    color: $header-title-color;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: $header-height;
    text-align: center;
    text-transform: uppercase;
}
