@mixin shade($x: 2, $y: 2, $blur: 5, $alpha: .4) {
    box-shadow: #{$x}px #{$y}px #{$blur}px 0 rgba(0, 0, 0, $alpha);
}

// stop the blue highlight on android
@mixin no-tap-highlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

// alias because I have trouble typing 'susy' for some reason
@mixin for-size($query) {
    @include susy-breakpoint($query) {
        @content;
    }
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
