%heading-1 {
    color: $color-primary;
    font-size: 2em;
    font-weight: 700;
    margin: 1em 0;
}

%heading-2 {
    color: $color-primary;
    font-size: 1.5em;
    font-weight: 400;
    margin: 1em 0 .5em;
}

%heading-3 {
    color: $color-primary;
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em 0 .4em;
}

%link {
    border-bottom: 1px dotted $color-primary;
    color: $color-primary;
    cursor: pointer;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
    }
}

%code {
    background: $color-grey-3;
    border-radius: 4px;
    display: inline-block;
    padding: 0 5px;
}

%pre {
    background-color: $color-grey-3;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 1em;
}

%body-copy {
    padding: 1em 0;
}
