// --  SIZE AND POSITION  --  /
$z-index-header: 10;
$z-index-menu: 20;
$z-index-hamburger: 30;
$z-index-modal: 100;

$animation-duration: 300ms;

$header-height: 4rem;
$sidebar-width: 15rem;
$content-padding: 5%;
$hamburger-width: 3rem;


//  --  BREAKPOINTS  --  //
$small-med-breakpoint: 30rem; // 480px
$med-large-breakpoint: 55rem; // 880px
$large-jumbo-breakpoint: 70rem; // 1120px
$one-px: 1 / 16;

//  --  RAW BREAKPOINTS  --  //
$small-only: 0 $small-med-breakpoint;
$medium-only: ($small-med-breakpoint + $one-px) $med-large-breakpoint;
$large-only: ($med-large-breakpoint + $one-px) $large-jumbo-breakpoint;
$jumbo-only: ($large-jumbo-breakpoint + $one-px);

// $small-up is implied in any rule
$medium-up: ($small-med-breakpoint + $one-px);
$large-up: ($med-large-breakpoint + $one-px);
$jumbo-up: $jumbo-only; // Same thing, right?

$medium-down: 0 $med-large-breakpoint;
$large-down: 0 $large-jumbo-breakpoint;

//  --  NAMED BREAKPOINTS  --  //
$hover-nav: $medium-down;


//  --  RAW COLOURS  --  //
$white: #fff;
$blue: #4642c2;
$aqua: #04b4bf;

$turquoise: #16a085;
$turquoise--light: #1abc9c;
$red: #c0392b;
$red--light: #e74c3c;
$grey--dark: #2c3e50;
$grey--light: #ecf0f1;


$black: #000;
$color-grey-10: #333;
$color-grey-15: #5a5e6d;
$color-grey-20: #888;
$color-grey-30: #ddd;
$color-grey-40: #f7f7f7;

$nav-mask-alpha: .4;

//  --  COLOUR INSTANCES  --  //
$color-primary: $red;
$body-color: $grey--light;
$hero-text: $grey--dark;
$text-color: $grey--dark;
$header-color: $grey--dark;
$header-title-color: $grey--light;

$heading-color: $red;
$link-color: $red;
$link-color--hover: $red--light;

$nav-color: $turquoise;
$nav-text-color: $white;
$nav-color--active: $turquoise--light;
$nav-text-color--active: $white;
$nav-mask-color: $black;

//  --  TYPOGRAPHY  --  //
$sans-serif: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;


//  --  VENDOR  --  //
$susy: (
    global-box-sizing: border-box,
    gutter-position: split,
    columns: 12
    //debug: (
    //    image: show,
    //    color: rgba(200, 0, 0, .2),
    //    output: overlay,
    //    toggle: top right,
    //)
);
