$z-index-menu: 10;
$z-index-header: 20;
$z-index-modal: 100;

$white: #fff;
$color-primary: #a11;
$color-grey-1: #333;
$color-grey-2: #888;
$color-grey-3: #f7f7f7;
$color-nav: #35363c;

$header-height: 4rem;
$sidebar-width: 15rem;
$content-padding: 2rem;
$hamburger-width: 3rem;

$animation-duration: 300ms;

$susy: (
    global-box-sizing: border-box,
    gutter-position: split,
    columns: 12,
    debug: (
            image: show,
            color: rgba(200, 0, 0, 0.2),
            output: overlay,
            toggle: top right,
    )
);
