{
    "extends": "airbnb",
    "parser": "babel-eslint",          // https://github.com/babel/babel-eslint
    "plugins": [
        "react"                          // https://github.com/yannickcr/eslint-plugin-react
    ],
    "env": {                           // http://eslint.org/docs/user-guide/configuring.html#specifying-environments
        "mocha": true,
        "browser": true,                 // browser global variables
        "node": true                     // Node.js global variables and Node.js-specific rules
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": false,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": false,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "jsx": true
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-indent": [2, 4],
        "new-cap": 0, // because immutable uses Map, List, etc. without 'new'. Also Radium.
        "no-alert": 0,
        "comma-dangle": 0,
        "global-require": 0,
        "no-console": 0,
        "no-return-assign": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0,
        "no-use-before-define": 0,
        "max-len": 0,
        "space-before-function-paren": 0,
        "object-curly-spacing": [2, "never"]
    },
    "globals": {
        "expect": true,
        "sinon": true,
        "fetch": true,
        "performance": true,
        "ga": true
    }
}
