@import '../../utils/styles';

.gallery {
    &__wrapper {
        margin: .5%;
    }

    // masonry class
    &__thumb-sizer,
    &__thumb {
        $three-col: (100% / 3) - 1;
        $four-col: (100% / 4) - 1;
        $five-col: (100% / 5) - 1;
        $six-col: (100% / 6) - 1;

        width: $three-col;
        margin: .5%;
        cursor: pointer;

        @include for-size($medium-up) {width: $four-col;}
        @include for-size($large-up) {width: $five-col;}
        @include for-size($jumbo-up) {width: $six-col;}

        //&--double {
        //    @include for-size($small-only) {width: $three-col * 2 + 1;}
        //    @include for-size($medium-only) {width: $four-col * 2 + 1;}
        //    @include for-size($large-only) {width: $five-col * 2 + 1;}
        //    //@include for-size($jumbo-up) {width: $sixCol * 2 + 1;}
        //}

        img {
            display: block;
            max-width: 100%;
        }

    }

    // Override the photoswipe CSS rule for captions
    .pswp__caption__center {
        text-align: center;
    }

    // That little 1px gap at the bottom on Android
    .pswp__bg {
        height: 111%;
    }
}
