@import '../utils';

$content-padding: 2em;

#app {
    min-height: 100%;
    position: relative;
}

.app {
    min-height: 100%;

    &__container {
        padding: $header-height + $content-padding $content-padding $content-padding $sidebar-width + $content-padding;
    }
}
