@import '../utils';

body {
    color: $color-grey-1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 1.6em;
}

.header-1 {
    color: $color-primary;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.header-2 {
    color: $color-primary;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: .5em;
}

.header-3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: .4em;
}

.link {
    border-bottom: 1px dotted $color-primary;
    color: $color-primary;
    cursor: pointer;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
    }
}
