@import '../../../utils/styles';

.malla__video-iframe {
    display:block;
    width:320px;
    height:180px;
    margin:40px auto 0;
    text-align:center;


    @include for-tablet-portrait-up {
        width: 426px;
        height: 240px;
    }

    @include for-tablet-landscape-up {
        width: 640px;
        height: 360px;
    }
}
