@import '../../../utils/styles';

.home {
    &__hero-text {
        margin-bottom: 1em;
        color: $hero-text;
        font-family: $serif;
        font-size: 1.1rem;

        @include for-size($medium-up) {font-size: 1.2rem;}
        @include for-size($large-up) {font-size: 1.4rem;}
        @include for-size($jumbo-up) {font-size: 1.6rem;}
    }
}
