$z-index-menu: 10;
$z-index-header: 20;
$z-index-modal: 100;

$color-primary: #a11;

$color-grey-1: #333;
$color-grey-2: #888;
$color-grey-3: #eee;
$white: #fff;

$header-height: 3em;
$sidebar-width: 15em;
