@import '../../utils/styles';

$shadow-color: rgba(0, 0, 0, .4);
$vertical-height-overflow: 1rem;

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 120%; // Allow for user scrolling an mobile browser nav disappearing
    padding-top: $header-height;
    transform: translateX(-$sidebar-width * 1.1);
    transition: $animation-duration;
    background: $nav-color;
    z-index: $z-index-menu;
    overflow-x: hidden;

    &:after {
        @include shade(-2, 0, 10, .8);
        position: absolute;
        top: 0;
        right: -10px;
        bottom: 0;
        width: 10px;
        content: '';
    }

    .app__wrapper--nav-visible & {
        transform: translateX(0);
    }

    @include for-size($hover-nav) {
        &:after {
            content: none;
        }

        //@include shade(2, 0, 10, .8); //This slows it right down, use fireball...

        .app__wrapper--nav-visible--init & {
            display: none;
        }
    }
}

.nav__list {
    width: $sidebar-width;
    padding: 0;
}

.nav__link {
    @include no-tap-highlight();
    display: block;
    margin: .4em 0;
    padding: .6em 1em;
    transition: $animation-duration;
    color: $nav-text-color;
    font-size: 120%;
    text-decoration: none;

    &.focus,
    &.active {
        outline: none;
        background: $nav-color--active;
        color: $nav-text-color--active;
    }
}

.nav__mask {
    opacity: 0;

    @include for-size($hover-nav) {
        position: fixed;
        top: -5rem; // handle browser top bit hiding on scroll
        right: 0;
        bottom: -2px; // that little white line at the bottom of fixed elements
        left: 0;
        transition: $animation-duration;
        background: $nav-mask-color;
        z-index: 0;

        .app__wrapper--nav-visible & {
            opacity: $nav-mask-alpha;
            z-index: $z-index-menu - 1;
        }

        .app__wrapper--nav-visible--init & {
            display: none;
        }
    }
}
