@import '../../utils/styles';

$shadow-color: rgba(0, 0, 0, .4);
$vertical-height-overflow: 1rem;

.nav {
    background: $color-nav;
    bottom: -$vertical-height-overflow;
    box-shadow: inset -5px 0 10px $shadow-color;
    left: 0;
    overflow-x: hidden;
    padding-top: $header-height + $vertical-height-overflow;
    position: fixed;
    top: -$vertical-height-overflow;

    transition: $animation-duration;
    width: 0;
    z-index: $z-index-menu;

    .app__wrapper--nav-visible & {
        width: $sidebar-width;
    }

}

.nav__list {
    padding: 0;
    width: $sidebar-width;
}

.nav__link {
    color: $white;
    display: block;
    font-size: 120%;
    padding: 15px;
    text-decoration: none;

    &.active {
        background: $white;
        box-shadow: 0 0 10px 5px $shadow-color;
        color: $color-grey-1;
    }
}

.nav__mask {
    @media (max-width: #{$med-large-breakpoint}) {
        background: rgba($white, .4);
        height: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: left $animation-duration;

        .app__wrapper--nav-visible & {
            height: 100%;
            left: $sidebar-width;
        }
    }
}
