@import '../../utils/styles';

$shadow-color: rgba(0, 0, 0, .4);
$vertical-height-overflow: 1rem;

.nav {
    position: fixed;
    top: -$vertical-height-overflow;
    bottom: -$vertical-height-overflow;
    left: 0;
    width: $sidebar-width;
    padding-top: $header-height + $vertical-height-overflow;
    transform: translateX(-$sidebar-width * 1.1);
    transition: $animation-duration, box-shadow ($animation-duration * 3) $animation-duration;
    background: $color-nav;
    z-index: $z-index-menu;
    overflow-x: hidden;

    .app__wrapper--nav-visible & {
        transform: translateX(0);
    }
}

.nav__list {
    width: $sidebar-width;
    padding: 0;
}

.nav__link {
    @include no-tap-highlight();
    display: block;
    padding: 15px;
    transition: $animation-duration;
    color: $white;
    font-size: 120%;
    text-decoration: none;

    &.active {
        background: $white;
        color: $color-grey-10;
    }
}

.nav__mask {
    @include for-size($medium-down) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // not transitioning the opacity because slow phones delay it while sliding
        //transition: $animation-duration;
        background: rgba($black, .0);
        z-index: 0;

        .app__wrapper--nav-visible & {
            background: rgba($black, $nav-mask-alpha);
            z-index: $z-index-menu - 1;
        }
    }
}
