@import '../../../utils/styles';

.isolog{
    &__demo {
        padding-bottom: 2rem;
    }

    &__column {
        width: 100%;
        text-align: center;

        @include for-size($medium-up) {
            @include span(4 of 12);
        }
    }
}
