@import '../../styles/utils';

.app__wrapper {
    min-height: 100%;
}

.app__container {
    padding-left: 0;
    position: relative;
    transition: padding-left $animation-duration;

    .app__wrapper--nav-visible & {
        padding-left: $sidebar-width;
    }
}

.app__content {
    padding: $content-padding;
    position: absolute;
    transition: opacity 150ms;
    //width: 100%;

    &-enter {
        opacity: .01;
        //position: absolute;
        //transform: translateX(-100%);

        &.app__content-enter-active {
            opacity: 1;
            //transform: translateX(0%);
            //transition: $animation-duration;
        }
    }

    &-leave {
        opacity: 1;
        //position: absolute;
        //transform: translateX(0%);
        //transition: $animation-duration;

        &.app__content-leave-active {
            opacity: 0;
            //transform: translateX(100%);
        }
    }
}

