@import '../../styles/utils';

.app {
    //min-height: 100%;
    //position: relative;

    &__wrapper {
        min-height: 100%;
    }

    &__container {
        padding-left: 0;
        position: relative;
        transition: $animation-duration;

        .app__wrapper--nav-visible & {
            padding-left: $sidebar-width;
        }
    }

    &__content {
        padding: $content-padding;
    }
}
