@import '../../utils/styles';

.app__wrapper {
    min-height: 100%;
}

.app__content {
    @include container(60em);
    padding: $content-padding;
}

.app__transition-wrapper {
    position: absolute;
    top: $header-height;
    width: 100%;
    transition: opacity 150ms, padding-left $animation-duration;
    opacity: 1;

    .app__wrapper--nav-visible & {
        @include for-size($large-up) {
            padding-left: $sidebar-width;
        }
    }

    &-enter {
        opacity: .01;

        &.app__transition-wrapper-enter-active {
            opacity: 1;
        }
    }

    &-leave {
        opacity: 1;

        &.app__transition-wrapper-leave-active {
            opacity: 0;
        }
    }
}
