@import '../../utils/styles';

.app__wrapper {
    min-height: 100%;
}

.app__container {
    left: 0;
    position: absolute;
    right: 0;
    transition: $animation-duration;

    @media (max-width: #{$med-large-breakpoint}) {
        width: 100%
    }

    @media (min-width: #{$med-large-breakpoint}) {
        right: 0;
    }

    .app__wrapper--nav-visible & {
        left: $sidebar-width;
    }
}

.app__content {
    @include container(50em);
    padding: $content-padding;
}

.app__transition-wrapper {
    position: absolute;
    transition: opacity 150ms;
    width: 100%;

    &-enter {
        opacity: .01;

        &.app__transition-wrapper-enter-active {
            opacity: 1;
        }
    }

    &-leave {
        opacity: 1;

        &.app__transition-wrapper-leave-active {
            opacity: 0;
        }
    }
}
