@import '../../utils/styles';

.app__wrapper {
    min-height: 100%;
}

.app__container {
    padding-left: 0;
    position: relative;
    transition: padding-left $animation-duration;

    .app__wrapper--nav-visible & {
        padding-left: $sidebar-width;
    }
}

.app__content {
    @include container(80em);
    padding: $content-padding;
    position: absolute;
    transition: opacity 150ms;

    &-enter {
        opacity: .01;

        &.app__content-enter-active {
            opacity: 1;
        }
    }

    &-leave {
        opacity: 1;

        &.app__content-leave-active {
            opacity: 0;
        }
    }
}

