// site-specific styling for things like buttons, inputs, etc.
// So, really, just buttons.

@import '../../utils/styles';

body {
    background: $body-color;
}

.button {
    padding: 1em 2em;
    transition: opacity $animation-duration;
    border: 0;
    outline: 0;
    background: $color-primary;
    color: $white;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
        opacity: .9;
    }
}
