@import '../../utils/styles';

.hamburger {
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
    width: $hamburger-width;

    //&:hover {
    //    .hamburger__bar {
    //        opacity: 1;
    //    }
    //}
}

.hamburger__bar {
    background: $white;
    display: block;
    height: 3px;
    margin-bottom: 9px;
    opacity: .5;
    //transition: $animation-duration;
    width: 100%;
}
