@import '../../utils/styles';

.hamburger {
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
    //position: relative;
    //top: 11px;
    vertical-align: middle;
    width: $hamburger-width;

    &__bar {
        background: $white;
        display: block;
        height: 3px;
        margin-bottom: 9px;
        width: 100%;
    }
}
